<h1>Ask a Question</h1>
<div>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      {{input value=title id="title"}}
    </div>

    <div class="form-group">
      <label for="author">Your Name</label>
      {{input value=author id="author"}}
    </div>

    <div class="form-group">
      <label for="content">Additional details about your question</label>
      {{textarea value=content id="content"}}
    </div>

    <button type="button" class="btn btn-danger"{{action 'saveQuestion'}}>Submit</button>
  </form>
</div>
