{{outlet}}

<div id="forum">
  <div class="jumbotron">
    {{new-question save2="save3"}}
    <ul>
      {{#each model as |question|}}
        {{question-tile question=question}}
      {{/each}}
    </ul>
  </div>
</div>
