{{outlet}}

<div id="forum">
  <div class="jumbotron">
    <button type="button" class="btn btn-danger" {{new-question save2="save3"}}>Ask a question</button>
    <ul>
      {{#each model as |question|}}
        {{question-tile question=question}}
      {{/each}}
    </ul>
  </div>
</div>
